.productCard {
    width: 100%;
    letter-spacing: 2%;
    max-width: 347px; 
    background: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.2s;
    gap: 18px;

    &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
}

.imageWrapper {
    position: relative;
    aspect-ratio: 1 / 1; 
    background: #f8f9fa;
    border-radius: 16px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain; // або cover — залежить від фото
        display: block;
    }
}

.discountBadge {
    position: absolute;
    top: 8px;
    left: 8px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 4px;
    z-index: 2;
}

.info {
    padding:0 12px 14px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-grow: 1;
    
}

.category {
    font-size: 12px;
    text-transform: uppercase;
}

.name {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 2%;
    margin-bottom: 16px;
    min-height: 3.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.rating {
    font-size: 14px;
    margin: 4px 0;
    font-weight: 400;
    line-height: 1;
    text-decoration: underline;
    color: black;
    text-decoration-color: #bdbdbd;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}
.ratingText{
    margin-left: 8px;
}
.priceBlock {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.currentPrice {
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 2%;
    background: linear-gradient(90deg, #003181, #2288ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.oldPrice {
    font-size: 22px;
    color: $text-secondary;
    text-decoration: line-through;
    text-decoration-color: $red;
    text-decoration-thickness: 2px;
}

.stockInfo {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: start;
    align-items: center;

    .doneIcon {
        margin-right: 8px;
    }

    .separator {
        margin: 0 14px;
    }
}
.actionsRow {
    display: flex;
    gap: 8px;
    align-items: center;
}
.addToCart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    width: 100%;
    height: 50px;
    margin-bottom: 0; 
    background:$accent-light-blue; 
    color: #182a42;
    border: none;
    border-radius: 15px;
    padding: 12px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2%;
    cursor: pointer;

    &:disabled {
        background: $dark;
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        background: $accent-blue;
    }
}
